/*
---------------
モジュールルール
---------------
*/

.doc a:link {
  color: #008080;
}

.doc a:visited {
  color: #800080;
}

.doc a:hover {
  text-decoration: underline;
}

.doc blockquote,
.doc dl,
.doc h3,
.doc h4,
.doc h5,
.doc ol,
.doc ul {
  margin: 1rem 0;
}

.doc h3,
.doc h4,
.doc h5{
  margin: 1rem 0;
  padding: .5rem;
}

.doc h3 {
  background: #c0c0c0 url('heading_mark.png') no-repeat 8px center;
  border: 6px double #000080;
  padding-left: 48px;
}

.doc h4 {
  border-bottom: 2px solid #000080;
}

.doc h5 {
  border-left: 1rem solid #000080;
}

.doc ul,
.doc ol {
  padding-left: 2rem;
}

  .doc ol{
    list-style: decimal;
  }

    .doc li > ol{
      list-style: lower-alpha;
    }

    .doc li li > ol{
      list-style: lower-roman;
    }

  .doc ul{
    list-style: disc;
  }

    .doc li > ul{
      list-style: square;
    }

    .doc li li > ul{
      list-style: circle;
    }

/*
-------------
ステートルール
-------------
*/

.is-page .l-header {
  border-bottom: 2px solid #000080;
}

.is-page .l-main {
  background: #fff url('main_background.png') repeat 0 0;
  color: #000;
}