@charset "utf-8";

/* トップページ専用レイアウト */

html,
body {
  min-height: 100vh;
}

html {
  background: #c0c0c0 linear-gradient(to bottom, #808080, #c0c0c0);
}

body {
  background: transparent url('body_bg.png') repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.l-wrap {
  background-color: rgba(192, 192, 192, .5);
}

.l-header-title {
  text-align: center;
}

.l-main-topmenu .frontmenu-items {
  padding: .5rem;
}

.l-main-topmenu .frontmenu-items .sub-container {
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 28vw 28vw;
  border: 2px solid transparent;
  border-radius: .25rem;
  height: 42vw;
  padding: .25rem;
}

.l-main-topmenu .frontmenu-items:hover .sub-container {
  border-color: #404040;
}

.l-main-topmenu .frontmenu-items.has-submenu .sub-container {
  background-position-x: calc(25% - (128px / 4));
}

.l-main-topmenu .frontmenu-items.is-playing .sub-container {
  background: #ffc0c0 url('playing.png');
}

.l-main-topmenu .frontmenu-items.is-making .sub-container {
  background: #a0e0e0 url('making.png');
}

.l-main-topmenu .frontmenu-items.is-about .sub-container {
  background: #c0ffc0 url('about.png');
}

.l-main-topmenu .frontmenu-items.is-twitter .sub-container {
  background: #c0c0ff url('twitter.png');
}

.l-main-topmenu .frontmenu-items.is-github .sub-container {
  background: #d0d0d0 url('github.png');
}

.l-main-topmenu .frontmenu-items.is-blog .sub-container {
  background: #e0e0a0 url('blog.png');
}

.l-main-topmenu .frontmenu-items-link {
  display: block;
  height: 100%;
}

.l-main-topmenu .frontmenu-items-title {
  bottom: 0;
  font-size: 1.4rem;
  margin: .5rem 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
}

.l-main-topmenu .frontmenu-items.has-submenu .frontmenu-items-title {
  width: 50%;
}

.l-main-topmenu .frontmenu-items-nav {
  background: rgba(0, 0, 0, .125) url('frontmenus-nav_bg.png') repeat-x left bottom;
  border-radius: 0 .25rem .25rem 0;
  padding: 1rem;
}

.l-main-topmenu .frontmenu-items-nav ul {
  margin: 0;
}

.l-main-topmenu .frontmenu-items-nav li {
  background-color: transparent;
  margin: .5rem 0;
}

.l-main-topmenu .frontmenu-items-nav li:hover {
  background-color: #e0e0e0;
}

.l-main-topmenu .frontmenu-items-nav a {
  display: block;
  padding: .5rem;
}

.l-main-topic {
  background-color: #fff;
  border-top: 4px solid #000080;
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.l-main-topic .topic-title {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.l-main-topic .topic-title-text {
  font-size: 1rem;
  margin: .5rem 1rem;
}

.l-main-topic .topic-content {
  flex: 1 1 auto;
}

.l-main-topic .topic-list {
  list-style: none;
  padding: 0 1rem;
}

.l-main-topic .topic-list li:first-child {
  font-size: 1.4rem;
}

.l-main-topic .topic-footer {
  background-color: #e0e0e0;
  padding: 0 1rem;
}

.l-main-topic .linkbutton {
  display: inline-block;
  font-size: 1rem;
  padding: 0;
}

.l-main-topic .linkbutton a {
  background-color: transparent;
  border: 0;
}

.l-main-topic .linkbutton a:hover {
  background-color: #c0c0c0;
}

.l-main-content .boxes {
  background-color: #f0f0f0;
  border: 2px solid #808080;
}

.l-main-content .boxes-title {
  background-color: #c0c0c0;
  border-bottom: 2px solid #808080;
  font-size: 1.4rem;
}

/*
 * -----------
 * Media Query
 * -----------
 */

/* タブレットモード */
@media(min-width: 32rem) {
  
  .l-main-topmenu .frontmenu-items .sub-container {
    background-size: 128px 128px;
    height: 192px;
  }

  .l-main-topic {
    flex-direction: row;
  }

  .l-main-topic .topic-title {
    flex: 0 0 96px;
  }

  .l-main-topic .topic-title-text {
    margin: 1rem;
    text-align: center;
  }

}