@charset "utf-8";

/*
 * -----------
 * Layout Rule
 * -----------
 */

body {
  background-color: #c0c0c0;
  color: #000;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "sans-serif";
}

img {
  height: auto;
  max-width: 100%;
}

.sub-wrap {
  margin: 0;
}

/* .l-header */

.l-header {
  color: #000080;
}
.is-page .l-header {
  border-bottom: 2px solid #000080;
}
.l-header .sub-wrap {
  background-color: rgba(192, 192, 192, 0.5);
}

  .l-header-title {
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
  }
  .is-page .l-header-title {
    height: 56px;
    margin: 1rem 0;
  }

  .l-header-menu {
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
  }

  .l-header-menu > ul {
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-flex;
    flex-flow: row nowrap;
    margin: 0;
  }

  .l-header-menu .menu-items:hover {
    background-color: #808080;
  }

    .l-header-menu .menu-items a {
      display: block;
      padding: 1rem;
    }

/* .l-main */

.is-page .l-main {
  background: #fff url('main_background.png') repeat 0 0;
  color: #404040;
}

  .is-page .l-main-content {
    padding: 1rem .5rem;
  }

  .l-main-contents-header,
  .l-main-contents h3,
  .l-main-contents h4,
  .l-main-contents h5 {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .l-main-contents-header {
    background-color: #c0c0c0;
  }

    .l-main-contents-header .list-title {
      color: #000080;
      font-size: 1.4rem;
      margin: 0;
      padding: 1rem;
    }

      .l-main-contents-header .list-title a {
        display: block;
        text-decoration: none;
      }
      .l-main-contents-header .list-title a:hover {
        text-decoration: underline;
      }

    .l-main-contents-header .list-items {
      background-color: #a0a0a0;
      color: #000080;
    }

  /* サイドバーメニュー */
  .l-main-sidebar_menu {
    background-color: #60a0ff;
    padding: 1rem;
  }

    .l-main-sidebar_menu ul {
      margin: 0;
    }

    .l-main-sidebar_menu .menu-items {
      background-color: #c0c0c0;
      margin-bottom: .5rem;
    }

    .l-main-sidebar_menu .menu-items.is-top {
      font-weight: bold;
    }

    .l-main-sidebar_menu a {
      color: inherit;
      display: block;
      padding: .5rem;
      text-decoration: none;
    }

  /* サイドバー(目次) */
  .l-main-toc {
    padding: 1rem;
  }

    .l-main-toc-title {
      border-bottom: 1px solid #808080;
      font-size: 1rem;
      padding: .5rem;
    }

    .l-main-toc ul {
      padding-left: 1rem;
    }

    .l-main-toc > nav > ul,
    .l-main-toc > nav > ul > li > ul {
      padding: 0; /* Hugoの仕様上、このような記述に... */
    }

    .l-main-toc li {
      line-height: 1.25;
      margin: .5rem 0;
    }

/* .l-footer */

.l-footer {
  font-size: .8rem;
}
.is-page .l-footer {
  background-color: #404040;
  border-top: 2px solid #000080;
  color: #fff;
}
.is-page .l-footer .sub-wrap {
  padding: .5rem;
}

  .l-footer-menu,
  .l-footer-social_menu {
    text-align: center;
  }

  .l-footer-menu > ul,
  .l-footer-social_menu > ul {
    padding: .5rem 0;
  }

  .l-footer-menu .menu-items {
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #c0c0c0;
    display: inline-block;
  }

  .l-footer-menu .menu-items > a {
    padding: 0 1rem;
  }

  .l-footer-menu .menu-items:first-child {
    border-left-width: 1px;
  }

  .l-footer-copyright {
    text-align: center;
  }

  .l-footer-social_menu .social_menu-items:hover {
    background-color: #808080;
  }

/*
 * -----------
 * Media Query
 * -----------
 */

/* タブレットモード */
@media(min-width: 32rem){

  .is-page .l-main-content {
    padding: 1rem;
  }

  /* サブメニューはタブレットモードになると1行に2項目が表示される */
  .l-main-sidebar_menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

    .l-main-sidebar_menu .menu-items {
      flex: 0 0 calc(50% - .5rem);
    }

    .l-main-sidebar_menu .menu-items.is-top {
      flex: 0 0 100%;
    }

}

/* デスクトップPCモード */
@media(min-width: 50rem){

  .sub-wrap {
    margin: 0 auto;
    width: 47rem; /* 47 = 50 - (1 * 2 + 1) ... 余白分2remとスクロールバーのスペース確保分1rem */
  }

}

@media(min-width: 78rem){ /* 78 = 50 + 14 * 2 */

  .is-page .l-header .sub-wrap {
    position: relative;
  }

    .l-header-title {
      text-align: left;
    }

    .l-header-menu {
      position: absolute;
      right: 0;
      top: 0;
    }

      .l-header-menu .menu-items a {
        padding: 1rem .5rem;
      }

  .is-page .l-main {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

    .l-main .sub-wrap.is-left {
      display: flex; /* Safariでメニューを縦いっぱいに表示する */
      flex: 1 0 14rem;
      flex-flow: row wrap; /* 万が一のために余計な要素は下に逃す */
      order: 1;
    }

    .l-main .sub-wrap.is-center {
      flex: 0 0 47rem;
      order: 2;
    }

    .l-main .sub-wrap.is-right {
      flex: 1 0 14rem;
      order: 3;
    }

  .l-main-toc {
    width: 14rem;
  }

  .l-main-sidebar_menu { /* display: flex; と指定した .l-wrap.is-left の子要素 */
    flex: 0 0 14rem;
  }

  .l-main-sidebar_menu .menu-items {
    flex: 0 0 100%;
  }

}