@charset "utf-8";

/*
 * -----------
 * Module Rule
 * -----------
 */

/* .font */

.font.is-small {
  font-size: .8rem;
}

.font.is-xsmall {
  font-size: .6rem;
}

.font.is-large {
  font-size: 1.4rem;
}

.font.is-xlarge {
  font-size: 1.8rem;
}

.font.is-bold {
  font-weight: bold;
}

.font.is-italic {
  font-style: italic;
}

.font.is-underline {
  text-decoration: underline;
}

.font.is-strike {
  text-decoration: line-through;
}

/* .area */

.area.is-left {
  text-align: left;
}

.area.is-center {
  text-align: center;
}

.area.is-right {
  text-align: right;
}

/* .bg */

.bg.is-red {
  background-color: #ff4040;
}

.bg.is-blue {
  background-color: #8080ff;
}

.bg.is-yellow {
  background-color: #e0e040;
}

.bg.is-green {
  background-color: #40e040;
}

.bg.is-gray {
  background-color: #a0a0a0;
}

/* .box + .intro */

.box,
.box_menu,
.intro {
  display: flex;
}

/* .box */

.box,
.box_menu {
  flex-flow: row wrap;
  justify-content: space-between;
}

.box-items,
.box_menu-items {
  flex: 0 0 100%;
  margin: .5rem 0;
}

.box-items {
  padding: .5rem;
}

.box-items-title,
.box_menu-items-title {
  margin: 0;
  padding: .5rem;
}

.box_menu-items-description {
  margin: 0;
  padding: 1rem;
}

/* .intro */

.intro {
  align-items: flex-start;
  flex-flow: column wrap;
}

  .intro-icon {
    margin: 0 auto;
  }

  .intro-items-title {
    margin: 0 -.5rem 0 -.5rem;
  }

/* .box_menu */

.box_menu-items-link {
  display: block;
}

.box_menu-items-title {
  font-size: 1rem;
}

.box_menu-items-image {
  display: block;
  margin: 0 auto;
}

/* スマートフォンでは2分割する横幅が足りないので分割しないままになる、mediaクエリー部分参照のこと */

/* .list */

  .list-items > ul,
  .list-items > a,
  .list-items > p,
  .list-items > time {
    margin: 0;
    padding: .5rem 1rem;
  }

  .list-items > a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  .list-items > a:hover {
    text-decoration: underline;
  }

  .list-items > time {
    display: block;
  }

/* .note */

.note {
  background-repeat: no-repeat;
  background-position: .5rem center;
  background-size: 48px 48px;
  min-height: 64px; /* 64pxは48pxに余白分8pxを2つ足した値 */
  padding: .5rem .5rem .5rem 64px;
}
.note.is-notice {
  background-color: #e0e080;
  background-image: url('note-is-notice.png');
  border: 2px solid #808000;
  color: #404000;
}
.note.is-info {
  background-color: #80e0e0;
  background-image: url('note-is-info.png');
  border: 2px solid #004080;
  color: #000080;
}
.note.is-warn {
  background-color: #f0a0a0;
  background-image: url('note-is-warn.png');
  border: 2px solid #c04040;
  color: #400000;
}

/* .linkbutton */

.link_button {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.link_button a {
  background-color: #c0c0c0;
  border: 2px solid #404040;
  padding: .5rem;
}
.link_button a:link,
.link_button a:visited {
  color: #000080;
  text-decoration: none;
}
.link_button a:hover {
  background-color: #808080;
}

/* Navigation Reset */

.menu > ul,
.social_menu > ul,
.front_menu-items-menu > ul,
.topicpath > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a,
.social_menu a,
.front_menu a,
.topicpath a,
.box_menu a {
  color: inherit;
  text-decoration: none;
}

.menu a:hover,
.social_menu a:hover,
.front_menu a:hover,
.topicpath a:hover,
.box_menu a:hover {
  text-decoration: underline;
}

/* .socialmenu */

.social_menu-items {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: .25em center;
  background-size: 24px 24px;
  display: inline-block;
  margin: 0 .5rem;
}
.social_menu-items.is-blog {
  background-image: url('socialmenus_blog.png');
}
.social_menu-items.is-twitter {
  background-image: url('socialmenus_twitter.png');
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}
.social_menu-items.is-github {
  background-image: url('socialmenus_github.png');
  font-weight: bold;
}

.social_menu-items a {
  display: inline-block;
  padding: .25em .25em .25em 32px; /* 32pxはアイコンの24pxに余白分8pxを足した値 */
}

/* .front_menu */

.front_menu {
  display: flex;
  flex-flow: row wrap;
}

.front_menu-items {
  flex: 0 0 50%;
}
.front_menu-items.has-submenu {
  flex-basis: 100%;
}
.front_menu-items .sub-container {
  position: relative;
}
  .front_menu-items-menu {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
  }

/* .topicpath */

.topicpath-items {
  display: inline-block;
}
.topicpath-items.is-here {
  font-weight: bold;
}
.topicpath-items:before {
  content: ">";
  margin: .5rem;
}
.topicpath-items:first-child:before {
  content: none;
}

/* .set-doc */

.set-doc .box,
.set-doc .box_menu,
.set-doc .intro,
.set-doc .note,
.set-doc .link_button {
  margin: 1rem 0;
}

.set-doc a:link {
  color: #008080;
}

.set-doc a:visited {
  color: #800080;
}

.set-doc blockquote {
  background-color: #e0e0e0;
  padding: 1rem;
}

.set-doc code {
  background-color: #e0e0e0;
}

.set-doc h3,
.set-doc h4,
.set-doc h5,
.set-doc h6 {
  color: #000080;
}

.set-doc h3 {
  background: transparent linear-gradient(to right, #c0c0c0, transparent);
  border-left: 1.5rem solid #000080;
  font-size: 1.4rem;
  padding: .75rem;
}

.set-doc h4 {
  border-bottom: 2px solid #000080; /* 6pxは2重線になる3pxを2倍にした値 */
  font-size: 1.4rem;
  padding: .5rem .75rem;
}

.set-doc h5 {
  border-left: 1rem solid #000080;
  font-size: 1rem;
  padding: .5rem;
}

.set-doc h6 {
  font-size: 1rem;
  padding: .5rem;
}

.set-doc ol,
.set-doc ul {
  padding-left: 1.5rem;
}

.set-doc p {
  text-indent: 1rem;
}

.set-doc pre {
  background-color: #e0e0e0;
  border: 1px solid #808080;
  padding: .25rem;
}

.set-doc table {
  border: 1px solid #808080;
  border-collapse: separate;
  border-spacing: 1px;
}

.set-doc td,
.set-doc th {
  border: 1px solid #808080;
  padding: .25rem;
}

.set-doc th {
  background-color: #e0e0e0;
}

/*
 * -----------
 * Media Query
 * -----------
 */

/* タブレットモードとPCモード */
@media (min-width: 32rem) {

  /* ボックスの分割はタブレットモード以降で有効 */
  .box.is-2-cols .box-items,
  .box_menu.is-2-cols .box_menu-items {
    box-sizing: content-box;
    flex-basis: calc(50% - 1.5rem); /* .5rem + 1rem = 1.5rem */
  }

  .box.is-3-cols .box-items,
  .box_menu.is-3-cols .box_menu-items {
    box-sizing: content-box;
    flex-basis: calc((100% / 3) - 1.5rem);
  }

  .intro.is-medium {
    flex-flow: row nowrap;
  }

  .intro.is-medium .intro-icon {
    flex: 0 0 auto;
  }

  .intro.is-medium .intro-description {
    flex: 1 1 auto;
    padding: 0 1rem;
  }

}

/* PCモード */
@media (min-width: 50rem) {
  
  /* 説明ボックスの分割はデスクトップPCモード以降で有効 */
  .intro.is-wide {
    flex-flow: row nowrap;
  }

  .intro.is-wide .intro-icon {
    flex: 0 0 auto;
  }

  .intro.is-wide .intro-description {
    flex: 1 1 auto;
    padding: 0 1rem;
  }

  .front_menu-items {
    flex: 0 0 25%;
  }

  .front_menu-items.has-submenu {
    flex-basis: 50%;
  }

}