@charset "utf-8";

/*
 * -----------
 * Layout Rule
 * -----------
 */

body {
  background-color: #c0c0c0;
  color: #000;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "sans-serif";
}

img {
  height: auto;
  max-width: 100%;
}

.l-wrap {
  margin: 0 1rem;
}

.l-nav ul {
  margin: 0;
  padding: 0;
}

/* .l-doc */

.l-doc a:link {
  color: #008080;
}

.l-doc a:visited {
  color: #800080;
}

.l-doc blockquote {
  background-color: #e0e0e0;
  padding: 1rem;
}

.l-doc code {
  background-color: #e0e0e0;
}

.l-doc h3,
.l-doc h4,
.l-doc h5,
.l-doc h6 {
  color: #000080;
}

.l-doc h3 {
  background: #c0c0c0 url('heading_mark.png') no-repeat 8px center;
  border: 6px double #000080; /* 6pxは2重線になる3pxを2倍にした値 */
  font-size: 1.4rem;
  padding: .5rem .5rem .5rem 48px; /* 48pxは見出しの印の幅32pxと余白の16pxを足した値 */
}

.l-doc h4 {
  border-bottom: 2px solid #000080;
  font-size: 1.4rem;
  padding: .5rem;
}

.l-doc h5 {
  border-left: 1rem solid #000080;
  font-size: 1rem;
  padding: .5rem;
}

.l-doc h6 {
  font-size: 1rem;
  padding: .5rem;
}

.l-doc ol,
.l-doc ul {
  padding-left: 1.5rem;
}

.l-doc p {
  text-indent: 1rem;
}

.l-doc pre {
  background-color: #e0e0e0;
  border: 1px solid #808080;
  padding: .25rem;
}

.l-doc table {
  border: 1px solid #808080;
  border-collapse: separate;
  border-spacing: 1px;
}

.l-doc td,
.l-doc th {
  border: 1px solid #808080;
  padding: .25rem;
}

.l-doc th {
  background-color: #e0e0e0;
}

/* .l-header */

.l-header {
  color: #000080;
}
.is-page .l-header {
  border-bottom: 2px solid #000080;
}

  .l-header-title {
    font-size: 2.2rem;
    text-align: center;
  }

  .l-header-nav ul {
    display: flex;
    flex-flow: row nowrap; /* トップページも、内部ページもメニューは折り返さない */
    padding: 0;
  }
  .is-page .l-header-nav ul {
    display: flex;
    height: 72px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .l-header-nav li {
    background-repeat: no-repeat;
    flex: 1 1 64px; /* 項目の最小幅は64px */
    min-width: 64px;
  }
  .is-page .l-header-nav li {
    background-position: center top;
  }
    
    .l-header-nav li:hover {
      background-color: #6060a0;
    }
    
    .l-header-nav a {
      color: inherit;
      display: block;
      font-size: .8rem;
      font-weight: bold;
      margin: 0 auto;
      text-decoration: none;
    }
    .is-page .l-header-nav a {
      letter-spacing: -.1rem;
      padding-top: 50px; /* 50pxはアイコンの高さ48pxに余白2pxを加えた値 */
      text-align: center;
    }

    .l-header-nav-home {
      background-image: url('header_menu_home.png');
    }

    .l-header-nav-wwa {
      background-image: url('header_menu_wwa.png');
    }

    .l-header-nav-works {
      background-image: url('header_menu_works.png');
    }

    .l-header-nav-materials {
      background-image: url('header_menu_materials.png')
    }

    .l-header-nav-docs {
      background-image: url('header_menu_docs.png');
    }

    .l-header-nav-aboutme {
      background-image: url('header_menu_aboutme.png');
    }

/* .l-main */

.is-page .l-main {
  background: #fff url('main_background.png') repeat 0 0;
  color: #404040;
}

  .is-page .l-main-content {
    padding: 1rem .5rem;
  }

  .l-main-contents-header,
  .l-main-contents h3,
  .l-main-contents h4,
  .l-main-contents h5 {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .l-main-contents-header {
    background-color: #c0c0c0;
  }

    .l-main-contents-header-title {
      color: #000080;
      font-size: 1.8rem;
      margin: 0;
      padding: 1rem;
    }

      .l-main-contents-header-title a {
        display: block;
        text-decoration: none;
      }

      .l-main-contents-header-title a:hover {
        text-decoration: underline;
      }

    .l-main-contents-header .blocks {
      background-color: #a0a0a0;
      color: #000080;
    }

  .l-main-nav {
    background-color: #60a0ff;
    padding: 1rem;
  }

    .l-main-nav ul {
      margin: 0;
    }

    .l-main-nav .menus {
      background-color: #c0c0c0;
      margin-bottom: .5rem;
    }

    .l-main-nav .menus.is-top {
      font-weight: bold;
    }

    .l-main-nav a {
      color: inherit;
      display: block;
      padding: .5rem;
      text-decoration: none;
    }

  .l-main-toc {
    padding: 1rem;
  }

    .l-main-toc-title {
      border-bottom: 1px solid #808080;
      font-size: 1rem;
      padding: .5rem;
    }

    .l-main-toc ul {
      padding-left: 1rem;
    }

    .l-main-toc > nav > ul,
    .l-main-toc > nav > ul > li > ul {
      padding: 0; /* Hugoの仕様上、このような記述に... */
    }

    .l-main-toc li {
      line-height: 1.25;
      margin: .5rem 0;
    }

/* .l-footer */

.l-footer {
  font-size: .8rem;
}
.is-page .l-footer {
  border-top: 2px solid #000080;
}

  .l-footer-menu,
  .l-footer-socialmenu {
    text-align: center;
  }

  .l-footer-menu li {
    border-right: 1px solid #404040;
  }

  .l-footer-menu li:first-child {
    border-left: 1px solid #404040;
  }

  .l-footer-copyright {
    text-align: center;
  }

  .l-footer-socialmenu .socialmenus:hover {
    background-color: #808080;
  }

/*
 * -----------
 * Module Rule
 * -----------
 */

/* .topicpath */

.topicpath-here {
  font-weight: bold;
}

.topicpath ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .topicpath li {
    display: inline-block;
  }

  .topicpath li:before {
    content: ">";
    margin: .5rem;
  }

  .topicpath li:first-child:before {
    content: none;
  }

  .topicpath a {
    color: inherit;
    text-decoration: none;
  }

  .topicpath a:hover {
    text-decoration: underline;
  }

/* .box + .intro */

.box,
.intro {
  display: flex;
  margin: 1rem 0;
}

/* .box */

.box {
  flex-flow: row wrap;
  justify-content: space-between;
}

.boxes {
  margin: .5rem 0;
  padding: .5rem;
}

.boxes-title {
  margin: -.5rem -.5rem 1rem -.5rem;
  padding: .5rem;
}

/* .intro */

.intro {
  align-items: flex-start;
  flex-flow: column wrap;
}

  .intros.is-icon {
    margin: 0 auto;
  }

  .intros-title {
    margin: 0 -.5rem 0 -.5rem;
  }

/* スマートフォンでは2分割する横幅が足りないので分割しないままになる、mediaクエリー部分参照のこと */

    .blocks > ul,
    .blocks > a,
    .blocks > p,
    .blocks > time {
      padding: .5rem 1rem;
    }

    .blocks > a {
      color: inherit;
      display: block;
      text-decoration: none;
    }

    .blocks > a:hover {
      text-decoration: underline;
    }

    .blocks > time {
      display: block;
    }

/* .note */

.note {
  background-repeat: no-repeat;
  background-position: .5rem center;
  background-size: 48px 48px;
  margin: 1rem 0;
  min-height: 64px; /* 64pxは48pxに余白分8pxを2つ足した値 */
  padding: .5rem .5rem .5rem 64px;
}
.note.is-notice {
  background-color: #e0e080;
  background-image: url('note-is-notice.png');
  border: 2px solid #808000;
  color: #404000;
}
.note.is-info {
  background-color: #80e0e0;
  background-image: url('note-is-info.png');
  border: 2px solid #004080;
  color: #000080;
}
.note.is-warn {
  background-color: #f0a0a0;
  background-image: url('note-is-warn.png');
  border: 2px solid #c04040;
  color: #400000;
}

/* .linkbutton */

.linkbutton {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.linkbutton a {
  background-color: #c0c0c0;
  border: 2px solid #404040;
  padding: .5rem;
}

.linkbutton a:link,
.linkbutton a:visited {
  color: #000080;
  text-decoration: none;
}

.linkbutton a:hover {
  background-color: #808080;
}

/* .menu, .socialmenu, .frontmenu */

.menu > ul,
.socialmenu > ul,
.frontmenus-nav > ul {
  padding: 0;
}

.menu.is-inline li {
  display: inline;
  padding: 0 1rem;
}

.menu a,
.socialmenu a,
.frontmenu a {
  color: inherit;
  text-decoration: none;
}

.menu a:hover,
.socialmenu a:hover,
.frontmenu a:hover {
  text-decoration: underline;
}

/* .socialmenu */

.socialmenus {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: .25em center;
  background-size: 24px 24px;
  display: inline-block;
}
.socialmenus.is-blog {
  background-image: url('socialmenus_blog.png');
}
.socialmenus.is-twitter {
  background-image: url('socialmenus_twitter.png');
}
.socialmenus.is-github {
  background-image: url('socialmenus_github.png');
}

.socialmenus a {
  display: inline-block;
  padding: .25em .25em .25em 32px; /* 32pxはアイコンの24pxに余白分8pxを足した値 */
}

/* .frontmenu */

.frontmenu {
  display: flex;
  flex-flow: row wrap;
}

.frontmenu .sub-container {
  position: relative;
}

.frontmenus {
  flex: 0 0 25%;
}

.frontmenus.has-submenu {
  flex-basis: 50%;
}

.frontmenus-nav {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

/* .font */

.font.is-small {
  font-size: .8rem;
}

.font.is-xsmall {
  font-size: .6rem;
}

.font.is-large {
  font-size: 1.4rem;
}

.font.is-xlarge {
  font-size: 1.8rem;
}

.font.is-bold {
  font-weight: bold;
}

.font.is-italic {
  font-style: italic;
}

.font.is-underline {
  text-decoration: underline;
}

.font.is-strike {
  text-decoration: line-through;
}

/* .area */

.area.is-left {
  text-align: left;
}

.area.is-center {
  text-align: center;
}

.area.is-right {
  text-align: right;
}

/* .bg */

.bg.is-red {
  background-color: #ff4040;
}

.bg.is-blue {
  background-color: #8080ff;
}

.bg.is-yellow {
  background-color: #e0e040;
}

.bg.is-green {
  background-color: #40e040;
}

.bg.is-gray {
  background-color: #a0a0a0;
}

/*
 * -----------
 * Media Query
 * -----------
 */

/* タブレットモード */
@media(min-width: 32rem){

  /* ヘッダーメニューの左右に余白を入れる */
  .is-page .l-header-nav ul {
    padding: 0 64px;
  }

  .is-page .l-main-content {
    padding: 1rem;
  }

  /* サブメニューはタブレットモードになると1行に2項目が表示される */
  .l-main-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

    .l-main-nav .menus {
      flex: 0 0 calc(50% - .5rem);
    }

    .l-main-nav .menus.is-top {
      flex: 0 0 100%;
    }

  .box.is-cols-1 .boxes {
    flex: 0 0 100%;
  }

  /* ボックスの分割はタブレットモード以降で有効 */
  .box.is-cols-2 .boxes {
    flex: 0 0 calc(50% - .5rem);
  }

  .box.is-cols-3 .boxes {
    flex: 0 0 calc((100% / 3) - .5rem);
  }

}

/* デスクトップPCモード */
@media(min-width: 50rem){

  .l-wrap {
    margin: 0 auto;
    width: 47rem; /* 47 = 50 - (1 * 2 + 1) ... 余白分2remとスクロールバーのスペース確保分1rem */
  }

  /* 説明ボックスの分割はデスクトップPCモード以降で有効 */

  .intro {
    flex-flow: row nowrap;
  }

  .intros.is-icon {
    flex: 0 0 auto;
  }

  .intros.is-description {
    flex: 1 1 auto;
    padding: 0 1rem;
  }

}

@media(min-width: 78rem){ /* 78 = 50 + 14 * 2 */

  .is-page .l-main {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

    .l-main .l-wrap.is-left {
      display: flex; /* Safariでメニューを縦いっぱいに表示する */
      flex: 1 0 14rem;
      flex-flow: row wrap; /* 万が一のために余計な要素は下に逃す */
      order: 1;
    }

    .l-main .l-wrap.is-center {
      flex: 0 0 47rem;
      order: 2;
    }

    .l-main .l-wrap.is-right {
      flex: 1 0 14rem;
      order: 3;
    }

  .l-main-toc {
    width: 14rem;
  }

  .l-main-nav { /* display: flex; と指定した .l-wrap.is-left の子要素 */
    flex: 0 0 14rem;
  }

  .l-main-nav .menus {
    flex: 0 0 100%;
  }

}