@charset "utf-8";

/* トップページ専用レイアウト */

.l-header {
  height: 384px;
}

.l-header .l-wrap {
  position: relative;
}

.l-header-menu {
  height: 384px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.l-header-menu ul {
  height: 100%;
}

.l-header-menu li {
  background-position: center center;
}

.l-header-menu a {
  font-size: 1.2rem;

}

.l-main-content .boxes {
  background-color: #f0f0f0;
  border: 2px solid #808080;
}

.l-main-content .boxes-title {
  background-color: #c0c0c0;
  border-bottom: 2px solid #808080;
  font-size: 1.4rem;
}