@charset "utf-8";

/* トップページ専用レイアウト */

.l-header-nav ul {
  height: 384px;
}

.l-header .l-wrap {
  position: relative;
}

.l-header-title {
  text-align: center;
}

.l-main-menu .frontmenus {
  padding: .5rem;
}

.l-main-menu .is-wrap {
  border: 1px solid #404040;
  border-radius: .25rem;
  padding: .25rem;
}

.l-main-menu .frontmenus .frontmenus-nav {
  background-image: linear-gradient(to bottom, gray, silver);
}

.l-main-content .boxes {
  background-color: #f0f0f0;
  border: 2px solid #808080;
}

.l-main-content .boxes-title {
  background-color: #c0c0c0;
  border-bottom: 2px solid #808080;
  font-size: 1.4rem;
}