{{ define "main" }}

  <main class="l-main">
    <div class="sub-wrap">
      <div class="l-main-content">
        <section class="l-main-contents">
          <header class="l-main-contents-header list">
            <h2 class="list-title">{{ .Title }}</h2>
          </header>
          <article class="l-main-contents-article set-doc">
            <div class="box is-2-cols">
            {{ range .Data.Pages }}{{ $date := .Date.Format "2006-01-02" }}
              {{ if ne $date "0001-01-01" }}
              <section class="box-items">
                <h6 class="box-items-title"><a href="{{ if eq .File.BaseFileName "index" }}{{ replace .URL ".html" "/" }}{{ else }}{{ .URL }}{{ end }}" title="{{ .Title }}">{{ .Title }}</a></h6>
                <ul>
                  <li>{{ .Date.Format "2006年 01月 02日" }}</li>
                </ul>
                <p>{{ .Summary }}</p>
              </section>
              {{ end }}
            {{ end }}
            </div>
          </article>
        </section>
      </div>
    </div>
  </main>

{{ end }}