{{ define "main" }}

  <main class="l-main">
    <div class="sub-wrap">
      <div class="l-main-content">
        <section class="l-main-contents">
          <header class="l-main-contents-header list">
            <h2 class="list-title">{{ .Title }}</h2>
          </header>
          <div class="l-main-contents-menu box_menu is-2-cols">
          {{ range .Data.Pages }}
          {{ $date := .Date.Format "2006-01-02" }}
          {{ if ne $date "0001-01-01" }}
            <section class="box_menu-items">
              <a class="box_menu-items-link" href="{{ if eq .File.BaseFileName "index" }}{{ replace .URL ".html" "/" }}{{ else }}{{ .URL }}{{ end }}" title="{{ .Title }}">
                <h6 class="box_menu-items-title">{{ .Title }}</h6>
              </a>
              <ul>
                <li>{{ .Date.Format "2006年 01月 02日" }}</li>
              </ul>
              <p class="box_menu-items-description">{{ .Summary }}</p>
            </section>
          {{ end }}
          {{ end }}
          </div>
        </section>
      </div>
    </div>
  </main>

{{ end }}