{{ define "main" }}

  <main class="l-main">
    <div class="l-wrap is-center">
      <div class="l-main-content">
        <section class="l-main-contents">
          <header class="l-main-contents-header block">
            <h2 class="l-main-contents-header-title">{{ .Title }}</h2>{{ if ne .File.BaseFileName "index" }}
            <nav class="blocks"><a href="./" title="{{ .Section }}">戻る</a></nav>{{ end }}
          </header>
          <article class="l-main-contents-article l-doc">

{{ .Content }}

          </article>
        </section>
      </div>
    </div>

{{ partial "sidebar_toc.html" }}

{{ partial "sidebar_menu.html" . }}

  </main>

{{ end }}