{{ define "main" }}

  <main class="l-main">
    <div class="sub-wrap is-center">
      <div class="l-main-content">
        <section class="l-main-contents">
          <header class="l-main-contents-header list">
            <h2 class="list-title">{{ .Title }}</h2>
            <nav class="list-items is-link">
            {{ if ne .Type "page" }}
              <a href="{{ .Site.BaseURL }}{{ .Type }}/" title="{{ .Type }}">戻る</a>
            {{ else }}
              <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">戻る</a>
            {{ end }}
            </nav>
          </header>
          <article class="l-main-contents-article set-doc">

{{ .Content }}

          </article>
        </section>
      </div>
    </div>

{{ partial "sidebar_toc.html" . }}

{{ partial "sidebar_menu.html" . }}

  </main>

{{ end }}