  <header class="l-header">
    <div class="l-wrap is-center">
      <h1 class="l-header-title">
        {{ if .IsHome }}<img src="{{ .Site.BaseURL }}img/header_title.png" alt="{{ .Site.Title }}">
      {{ else }}<a href="{{ .Site.BaseURL }}" title="Aokashi Home"><img src="{{ .Site.BaseURL }}img/header_title.png" alt="{{ .Site.Title }}"></a>
      {{ end }}</h1>
      <nav class="l-header-nav">
        <ul>
          {{ if not .IsHome }}<li class="l-header-nav-home"><a href="{{ .Site.BaseURL }}" title="HOME">HOME</a></li>{{ end }}{{ range .Site.Menus.main }}
          <li class="l-header-nav-{{ .Identifier }}"><a href="{{ .URL }}" title="{{ .Name }}">{{ upper .Identifier }}</a></li>{{ end }}
        </ul>
      </nav>
    </div>
  </header>
