  <header class="l-header">
    <div class="sub-wrap is-center">
      <h1 class="l-header-title">
        <a href="{{ .Site.BaseURL }}" title="Aokashi Home"><img src="{{ .Site.BaseURL }}img/aokashihome_logo_mini.png" alt="{{ .Site.Title }}"></a>
      </h1>
      <nav class="l-header-menu menu">
        <ul>
        {{ range .Site.Menus.main }}
          <li class="menu-items is-{{ .Identifier }}"><a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
      </nav>
    </div>
  </header>
