{{ define "head" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/layout_index.css">
{{ end }}

{{ define "header" }}
  <header class="l-header">
    <div class="sub-wrap is-center">
      <h1 class="l-header-title">
        <img class="l-header-title-img" src="{{ .Site.BaseURL }}img/aokashihome_logo.png" alt="{{ .Site.Title }}">
      </h1>
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <main class="l-main">
    <div class="sub-wrap is-center">
      <nav class="l-main-topmenu front_menu">
      {{ range .Site.Menus.main }}
        <section class="front_menu-items is-{{ .Identifier }}{{ if .HasChildren }} has-submenu{{ end }}">
          <div class="sub-container">
            <a href="{{ .URL }}" class="front_menu-items-link" title="{{ .Name }}">
              <h2 class="front_menu-items-title">{{ .Name }}</h2>
            </a>
          {{ if .HasChildren }}
            <nav class="front_menu-items-menu menu">
              <ul>
              {{ range .Children }}
                <li><a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a></li>
              {{ end }}
              </ul>
            </nav>
          {{ end }}
          </div>
        </section>
      {{ end }}
      </nav>
      <div class="l-main-content set-doc">

{{ partial "index_content.html" . }}

      </div>
    </div>
  </main>
{{ end }}

{{ define "footer" }}
  <footer class="l-footer">
    <div class="sub-wrap is-center">
      <div class="l-footer-menu menu">
        <ul>
        {{ range .Site.Menus.footer }}
          <li class="menu-items"><a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
      </div>
      <div class="l-footer-copyright">
        <p>{{ .Site.Copyright }}</p>
      </div>
    </div>
  </footer>
{{ end }}