{{ define "head" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style_index.css">
{{ end }}

{{ define "header" }}
  <header class="l-header">
    <div class="l-wrap is-center">
      <h1 class="l-header-title">
        <img src="{{ .Site.BaseURL }}img/aokashihome_logo.png" alt="{{ .Site.Title }}">
      </h1>
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <main class="l-main">
    <div class="l-wrap is-center">
      <nav class="l-main-menu frontmenu">{{ range .Site.Menus.top }}
        <section class="l-main-menu-{{ .Identifier }} frontmenus{{ if .HasChildren }} has-submenu{{ end }}">
          <div class="sub-container">
            <a href="{{ .URL }}" class="frontmenus-link" title="{{ .Name }}">
              <h2 class="frontmenus-title">{{ .Name }}</h2>
            </a>{{ if .HasChildren }}<nav class="frontmenus-nav">
              <ul>{{ range .Children }}
                <li><a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a></li>{{ end }}
              </ul>
            </nav>
            {{ end }}
          </div>
        </section>{{ end }}
      </nav>
      <div class="l-main-content l-doc">

{{ partial "index_content.html" . }}

      </div>
    </div>
  </main>
{{ end }}