.bg.is-red {
  background-color: #ff4040;
}

.bg.is-blue {
  background-color: #8080ff;
}

.bg.is-yellow {
  background-color: #e0e040;
}

.bg.is-green {
  background-color: #40e040;
}

.bg.is-gray {
  background-color: #a0a0a0;
}
