.font.is-small {
  font-size: .8rem;
}

.font.is-xsmall {
  font-size: .6rem;
}

.font.is-large {
  font-size: 1.4rem;
}

.font.is-xlarge {
  font-size: 1.8rem;
}

.font.is-bold {
  font-weight: bold;
}

.font.is-italic {
  font-style: italic;
}

.font.is-underline {
  text-decoration: underline;
}

.font.is-strike {
  text-decoration: line-through;
}
